body {
  font: 10px bold courier sans-serif;
}

.timers-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px auto;
  width: 800px;
}

.timers-container p {
  font-size: 22px;
  margin-bottom: 20px;
}

h1 {
  font-size: 36px;
}

div[class^='timer-'] {
  border: 1px solid #f00;
  border-radius: 50%;
  font-size: 42px;
  font-weight: bold;
  height: 200px;
  line-height: 200px;
  margin: 20px;
  overflow: hidden;
  position: relative;
  text-align: center;
  top: 0;
  width: 200px;
}

div[class^='timer-'] div {
  content: '';
  border: 1px solid #0f5;
  display: block;
  height: 200px;
  position: absolute;
  width: 200px;
}

.timer-2 {
  background-color: #0f0;
}

.timer-2.transition {
  background-color: #f00;
  transition-property: background-color;
  transition-duration: 30s;
}

.timer-5 {
  background: #ccc;
  margin: -3px;
}

.timer-5 .inner-timer {
  position: absolute;;
  top: 0;
  width: 100%;
}

.timer-5 .inner-html.transition {

}
